.wrapper {
    width: 1200px;
    margin: 0 auto;
}

#table1 th, #table1 td {
    border: 1px solid #000;
    text-align: center;
}

#table1 {
background-color: aqua;
width: 100%;
border-collapse: collapse;
}
